body{
    background: #232323;
    margin: 0;
    font-family: "Montserrat","Avenir";
}
.square{
    background:purple;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 400ms;
    --webkit-transition : 0.6s;
    --moz-transition: 0.6s;
}

#container{
    margin: 20px auto;
    max-width: 600px;
}

h1{
    text-align: center;
    color: white;
    line-height: 1.1;
    font-weight: normal;
    background-color: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}
#rgbDisplay{
    font-size: 200%;
}
/* h1 span{
    
} */
#stripe{
    font-family: "Montserrat";
    background: white;
    text-align: center;
    height: 30px;
    color: black;
}

.selected{
    background-color: steelblue;
    color: white;
}
button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    transition: all 200ms;
}

button:hover{
    background-color: steelblue;
    color: white;
}

#result{
    width: 20%;
    display: inline-block;
}